<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div class="bx">
    <h1 class="t">Discriminant: {{ d }}</h1>
    <h1 class="t">x1: {{ x1 }}</h1>
    <h1 class="t">x2: {{ x2 }}</h1>
    </div>


    <style>
        body{
            background-color: rgb(19, 89, 151);
        }
    
        .bx{
            height: 170px;
            width: 330px;
            background-color: rgb(210, 30, 30);
            margin-left: 620px;
            margin-top: 280px;
            border-radius: 10px;
        }
    
        .t{
            color: rgb(255, 255, 255);
            text-align: center;
        }
    </style>
    
</body>
</html>